# Python cache and bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Artifacts and local data
artifacts/
data/
mlruns/
mlflow.db
mlflow.db-journal

# Tooling caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# OS/editor
.DS_Store
.vscode/

# pyenv
.python-version

# W&B offline and logs
wandb/
*.wandb
